.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* ^^ font roboto */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #DEE0DE;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 1.2rem;
    line-height: 4vh;
}

h1 {
    font-size: 7rem;
    margin: 0;
    color: #E23B3B;
}

h2 {
    font-size: 5rem;
    margin-top: 10vh;
    margin-bottom: 2vw;
}

h3 {
    font-size: 2rem;
}

#make_this_italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.center_container {
    max-width: 90vw;
    margin: 4vh auto;
}

.center_container_nav {
    padding: 0 4vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #DEE0DE;
    z-index: 100;
}


.center_container_nav img {
    width: 100px;
    margin: 0;
    border-radius: 5px;
}

.header_buttons {
    display: flex;
    justify-content: center;
    gap: 1vw;

}

.header_buttons a{
    transition: all 1s;
}

.header_buttons a:hover {
    background-color: black;
    transform: scale(1.2);
}

body nav {
    display: flex;
    justify-content: space-between;
}

body nav a {
    padding: 1vh 0.2vw;
}

.header_for_contact_section {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 10vh 10vw;
    text-align: center;
    background-image: url("/images/cardiostasis-banner-blur.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

header {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 20vh 10vw;
    margin: 0;
    text-align: center;
    background-image: url("images/blurngrey.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.navbar_rightside_links a {
    padding: 2vh 0.8vw;
    margin-right: 0.2vw;
    background-color: rgb(4, 1, 14);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.navbar_rightside_links a:hover {
    transform: scale(1.5);
    background-color: grey;
}

header a {
    padding: 2vh 1vw;
    background-color: rgb(51, 27, 160);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

header P {
    color: #E23B3B;
}

.all_songs {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#push_down_paragraphs p {
    margin-bottom: 5vh;
}

.songs_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid;
    padding: 4vh 2vw;
    border-radius: 8px;
    background-color: rgb(167, 167, 167);
}

.songs_section a {
    padding: 2vh 2vw;
    background-color: rgb(51, 27, 160);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.songs_section a:hover {
    background-color: black;
    padding: 3vh 4vw;
}

.songs_section img {
    width: 100%;
    height: 50vh;
    filter: grayscale(100%) blur(2px);
    border-radius: 0.2vw;
    transition: all 0.5s;
}

.member_section img {
    width: 100%;
    filter: blur(2px) grayscale(30%);
    border-radius: 0.3vw;
    transition: all 0.5s;
}

.member_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 4vh 2vw;
    border-radius: 8px;
    background-color: rgb(167, 167, 167);
}

.songs_section img:hover {
    filter: blur(0px) grayscale(10%);
    transform: scale(1.1);
}

.member_section img:hover {
    filter: blur(0px) grayscale(10%);
    transform: scale(1.1);
}

footer {
    background-color: #15163D;
    padding: 2vh 0;
    font-size: 1.15rem;
}

#footer_icon {
    width: 5vw;
    border-radius: 0.5vw;
}

.copyright_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}

.copyright_row a {
    color: grey;
    text-decoration: none;
}

.copyright_row a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.copyright_row_right_side {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer_socials img {
    margin-top: 2vh;
    width: 2.5vw;
    border-radius: 10px
}






/* code below is about contact.html */
.contact_M {
    margin-bottom: 5vh;
}

.form_section_with_title {
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.form_section_with_title h2 {
    margin-bottom: 10vh;
}

.form_section {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 3vh;
    align-items: normal;
    padding-bottom: 5vh;
}

.form_side {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
}

.form_down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2vh;
    flex: 1;
}

form label {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

form input {
    width: 100%;
    height: 5vh;
    border-radius: 0.8vw;
    border-color: grey;
    padding: 0 1vw;
    font-size: 1rem;
}

form select {
    width: 100%;
    height: 5vh;
    border-radius: 0.3vw;
    border-color: grey;
    padding: 0 1vw;
}

textarea {
    width: 100%;
    height: 20vh;
    border-radius: 0.3vw;
    border-color: grey;
    padding: 2vh 1vw;
    font-size: 1rem;
}

#form_side_radio input {
    width: 1vw;
}

#form_side_radio2 input {
    width: 1vw;
}

#form_side_radio label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
}

#form_side_radio2 label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
}


#form_side_checkbox {
    justify-content: flex-start;
}

#form_side_checkbox label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form_section button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    all: unset;
    background-color: grey;
    color: white;
    border-radius: 15px;
    padding: 2vh 15vw;
    border: 2px solid black;
    margin-top: 2vh;
}

.form_section button:hover {
    background-color: rgb(68, 68, 68);
    transform: scale(1.1);
}

Input:user-invalid{
    border-style: solid;
    border-color: red;
    border-width: 0.2vw;
}



/* media queries */
@media (max-width: 480px) {

    .center_container_nav {
        flex-direction: column;
        position: unset;
    }

    .center_container {
        max-width: 100vw;
        margin: 4vh auto;
    }

    .navbar_rightside_links {
        display: flex;
        gap: 2vh;
        flex-direction: column;
        margin-bottom: 4vh;
    }

    .navbar_rightside_links a {
        text-align: center;
        padding: 2vh 30vw;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 2rem;
    }

    .all_songs {
        flex-direction: column;
        gap: 5vh;
        padding: 3vh 5vw;
    }

    .about_section {
        margin: 2vh 3vw;
        padding: 2vh 3vw;
        border-radius: 5px;
        border: solid;
    }

    .header_buttons {
        align-items: center;
    }

    .header_buttons a {
        flex: 1;
        height: 8vh;
    }

    #footer_icon {
        width: 40vw;
        height: 14vh;
    }


    #footer_flex {
        max-width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .copyright_row {
        flex-direction: column;
        gap: 3vh;
    }

    .copyright_row_right_side {
        flex-direction: column;
    }

    .footer_socials img {
        width: 5vh;
    }






    /* code below is about contact.html */

    .form_section_with_title{
        max-width: 80vw;
        align-items: flex-start;
    }


    .form_side {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .form_down {
        flex: 1;
        justify-content: flex-start;
    }

    form input, form select, form textarea{
        width: 80vw;
        border-radius: 10px;
    }

    #form_side_radio{
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    #form_side_radio2{
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    #form_side_radio input{
        width: 3vw;
    }

    #form_side_radio2 input{
        width: 3vw;
    }

    #form_side_radio label{
        font-size: 1.4rem;
    }

    #form_side_radio2 label{
        font-size: 1.4rem;
    }
    #flex_side_for_mobile{
        flex-direction: row;
        gap: 6vw;
    }

    #form_side_checkbox{
       flex-direction: row;
    }

    #form_side_checkbox input{
        width: 100%;
    }

}

@media (max-width: 650px){
    h1{
        font-size: 3.5rem;
    }
}